In [ ]:
print("Day-1")

Day-1

In [2]:
# list intro
li = [1,2,3]
print(li)

[1, 2, 3]

In [3]:
print(type(li)) # to get the datatype for li

<class 'list'>

In [9]:
li2 = [10,1.1,"NTT Data", "Self"] #list for hetrogeneous
print(li2)
print(len(li2)) # to know the length for function

[10, 1.1, 'NTT Data', 'Self']
4

In [12]:
#List creation using constrctor list()

l3 = list((1,2,3.33))
print(l3)
print(type(l3))

[1, 2, 3.33]
<class 'list'>

In [17]:
l4=[1, 2, 3, 4, 5.5, 6.6, "NTT"]
#Positive indexing
print(l4[0])
print(l4[3])
print(l4[5])
print(l4[6])

#Negative Indexing
print(l4[-1])
print(l4[-2])
print(l4[-5])
print(l4[-6])

1
4
6.6
NTT
NTT
6.6
3
2

In [19]:
#range of positive index
lr = [1,2,3,4,5,6,7,8,9]
print(lr)
print(lr[2])
print(lr[0:7]) #7 element is 8 and it's execluded
print(lr[2:6])
print(lr[3:4])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
3
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5, 6]
[4]

In [20]:
#range of negative index
lr = [1,2,3,4,5,6,7,8,9]
print(lr[-5:-1]) #-1 element will execluded
print(lr[2:6])
print(lr[3:4])

[5, 6, 7, 8]
[3, 4, 5, 6]
[4]

In [21]:
# range 3 parameters

l = [1,2,3,4,5,6,7,8,9]
print(l[0:8:1])
print(l[0:8:2])
print(l[0:8:3])

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7]
[1, 4, 7]

In [23]:
# optional range parameters

l = [1,2,3,4,5,6,7,8,9]
print(l[:6:1])
print(l[2::1])
print(l[::])

[1, 2, 3, 4, 5, 6]
[3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# optional range parameters

l = [1,2,3,4,5,6,7,8,9]
l[2]=20
print(l)
l[1:3]=[200,"test"]
print(l)

[1, 2, 20, 4, 5, 6, 7, 8, 9]
[1, 200, 'test', 4, 5, 6, 7, 8, 9]

In [29]:
l = [1,2,3,4,5,6,7,8,9]
print(l[5:1:-1])

[6, 5, 4, 3]

In [33]:
l = [1,2,3,4,5,6,7,8,9]  #adding a element in list
print(l)
l.append(10)
print(l)
l.insert(2,22)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 22, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
l1=[1,2,3]
l2=[4,5,6]
l1.extend(l2)
print(l1)
l1.remove(2)
print(l1)
l1.pop()
print(l1)

[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[1, 3, 4, 5]

In [41]:
l1=[1,2,3]
l2=[4,5,6]
del l2  #to delete the complete list
del l1[1]
print(l1) #to delete the specific index
l1.clear()
print(l1) #to clear the list

[1, 3]
[]

In [44]:
l = [1,2,3,4,5,6,7,8,9]  #example for foor loop
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9